{{ $page := .page }}
{{ $class := .class }}

{{- if $page.IsTranslated -}}
  <div class="flex items-center {{ with $class }}{{. | safeCSS }}{{ end }}">
    {{ range $page.Translations }}
      <a
        href="{{ .Permalink }}"
        class="h-7 rounded-md px-2 flex items-center gap-1 text-xs font-medium text-gray-600 transition-colors dark:text-gray-400 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-primary-100/5 dark:hover:text-gray-50"
        title="{{ index site.Data.languages .Lang }}"
      >
        {{- partial "functions/get_icon" (dict "name" "globe-alt" "attributes" "height=18") -}}
        <span>{{ index site.Data.languages .Lang }}</span>
      </a>
    {{ end }}
  </div>
{{- end -}}
